.container {
  display: flex;
  flex-direction: row;
  padding-inline: 20px;
  margin-top: 50px;
  column-gap: 20px;
}

table {
  flex: 8;
}

td {
  background-color: rgba(204, 204, 204, 0.651);
  padding: 2px;
  text-align: center;
}

.logContainer {
  flex: 2;
  background-color: orange;
  display: flex;
  flex-direction: column;
}
